# Enable the rewrite engine
RewriteEngine On

# Check if the requested filename is not a regular file
RewriteCond %{REQUEST_FILENAME} !-f

# Check if the requested filename is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Check if the requested filename is not a symbolic link
RewriteCond %{REQUEST_FILENAME} !-l

# If all conditions are met, rewrite the request to index.php
RewriteRule . index.php [L]  # Last rule, stop processing further rules